body,
html {
  background: #0f0f11;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
}

canvas {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 65vmin;
  height: 65vmin;
}
